<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.star.a.admin.dao.mapper.ShopMapper">

    <insert id="createShop" parameterType="com.github.star.a.admin.entity.Shop" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_shop (name, `desc`, logo_url, create_by)
        VALUES (#{name}, #{desc}, #{logoUrl}, #{createBy})
    </insert>

    <select id="findShopByName" parameterType="java.lang.String" resultType="com.github.star.a.admin.entity.Shop">
        SELECT id,
               name,
               `desc`,
               logo_url,
               status,
               is_deleted,
               create_by,
               create_time,
               update_time
        FROM t_shop
        where name = #{name}
          AND is_deleted = 0
    </select>

    <select id="findShopById" parameterType="java.lang.Integer" resultType="com.github.star.a.admin.entity.Shop">
        SELECT id,
               name,
               `desc`,
               logo_url,
               status,
               is_deleted,
               create_by,
               create_time,
               update_time
        FROM t_shop
        where id = #{id}
          AND is_deleted = 0
    </select>

    <update id="removeShopById" parameterType="java.lang.Integer">
        UPDATE t_shop
        SET is_deleted = 1
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

    <insert id="createShopAdminUser" parameterType="com.github.star.a.admin.entity.ShopAdminUser">
        INSERT INTO t_shop_admin_user (shop_id, username, password, nickname, create_by)
        VALUES (#{shopId}, #{username}, #{password}, #{nickname}, #{createBy})
    </insert>

    <select id="findAdminUserByShopId" parameterType="java.lang.Integer"
            resultType="com.github.star.a.admin.entity.ShopAdminUser">
        SELECT id, username, nickname, create_time
        FROM t_shop_admin_user
        WHERE shop_id = #{id}
          AND is_deleted = 0
        ORDER BY create_time DESC
    </select>
</mapper>